/* Footer.css */
.footer {
    background-color: #b71c1c; /* Or any color you prefer */
    color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer-section {
    display: flex;
    justify-content: space-between; /* This will place children at the start and end of the container */
    align-items: flex-start; /* Aligns items to the top */
    max-width: 1200px; /* Adjust based on your layout's max width */
    margin: 0 auto; /* Centers the section within the footer */
    width: 100%;
  }
  
  .restaurant-info {
    /* Styles for restaurant information */
    flex: 1; /* Allows the section to grow */
  }
  
  .working-hours {
    text-align: right; /* Right-aligns the working hours content */
    flex: 1; /* Allows the section to grow */
  }
  
  .footer-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* ... any other styles you might have ... */
  
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column;
      align-items: center;
    }
    .restaurant-info, .working-hours {
      width: 100%; /* Adjust width on mobile to take full width */
      text-align: center; /* Center align for mobile view */
    }
  }
  