@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@500&display=swap');

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75vh; /* Adjust as needed */
}

.heroLeft {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
}

.heroLeft img {
  width: 100%; /* Adjust the width as needed */
  height: auto;
}

.heroRight {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
}

.content {
  text-align: center;
}

.content h1 {
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.content p {
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}
